.presentacion {
  display: flex;
  justify-content: center;
}
.containerpresentacion {
  width: 28.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.9rem 1.6rem 2.4rem;
  #segundaparte h1::after {
    content: ".";
    color: $color-text-primary;
  }
  p {
    margin-top: 1.6rem;
    margin-bottom: 3.6rem;
    text-align: justify;
    &::before {
      content: "Un podcast que explora el mundo de la programación. ";
    }
  }
}
#primeraparte,
#segundaparte {
  align-self: flex-start;
}
.boton {
  width: 28.8rem;
  height: 4.8rem;
  text-align: center;
  background: $bg-terciary;
  color: $color-text-primary;
  font-family: $text-little;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 4.7rem;
  @media (min-width: 1200px) {
    line-height: 5.5rem;
  }
  &:hover {
    background-image: linear-gradient(
      225deg,
      $bg-secondary 0%,
      $bg-terciary 100%
    );
    color: $bg-primary;
    transition: all 1s ease;
  }
}

/*TABLETS*/
@media screen and (min-width: 768px) {
  .margenizquierdo {
    margin-left: 17rem;
    align-self: flex-start;
  }
  .presentacion {
    justify-content: unset;
  }
  .containerpresentacion {
    width: 42rem;
    flex-flow: row wrap;
    #segundaparte h1::after {
      content: ".";
      color: $bg-secondary;
    }
  }
  #primeraparte {
    margin-right: 0.7rem;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1200px) {
  .presentacion {
    justify-content: flex-start;
  }
  .containerpresentacion {
    margin-top: 20rem;
    margin-bottom: 0.5rem;
    align-items: unset;
    width: 74.2rem;
    justify-content: flex-start;
    h1 {
      font-size: 6.4rem;
    }
    p {
      margin-top: unset;
      margin-bottom: 5.6rem;
      width: 62.8rem;
      &::before {
        content: "El portal de podcasts que explora el mundo de la programación y la tecnología. ";
      }
    }
  }
  #primeraparte,
  #segundaparte {
    margin-right: 1rem;
  }
  .boton {
    width: 22.6rem;
    height: 5.6rem;
    font-size: 1.8rem;
  }
}
