$color-text-primary: #060a24;
$color-hover: #858793;
$bg-primary: white;
$bg-secondary: #0000ec;
$bg-terciary: #00f3bb;

$text-little: "IBM Plex Mono", monospace;
$text-secondary: "IBM Plex Sans", sans-serif;
