@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

html {
  font-size: 62.5%;
  /*1 rem = 10px; 10px/16px = 62.5%*/ }

/*MOBILE FIRST*/
body h1 {
  font-size: 3.6rem;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24; }
body p {
  color: #060a24;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4rem;
  line-height: 2.2rem; }
body a {
  text-decoration: none; }

/*DESKTOP*/
@media screen and (min-width: 1200px) {
  body h1 {
    font-size: 4.8rem; }
  body p {
    font-size: 1.6rem;
    line-height: 2.4rem; }

  .margenizquierdo {
    margin-left: 20rem; } }
/*MOBILE FIRST*/
/*HEADER*/
header {
  width: 100%;
  height: 4.4rem;
  padding: 1rem 5%;
  background-color: white; }

#logo {
  width: 2.4rem;
  height: 2.4rem;
  float: left; }

header nav {
  float: right; }
  header nav .menuhamburguesa ul {
    width: 100%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    overflow: hidden;
    background: #0000ec;
    height: 0px; }
    header nav .menuhamburguesa ul li {
      position: relative; }
      header nav .menuhamburguesa ul li:hover {
        background: #00f3bb; }
      header nav .menuhamburguesa ul li a {
        position: relative;
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.6rem;
        color: white;
        padding: 1.4rem 6%;
        line-height: 2.8rem;
        display: block; }
        header nav .menuhamburguesa ul li a:hover {
          color: #858793; }

header nav .menuhamburguesa {
  padding-top: 0.5rem; }
  header nav .menuhamburguesa input {
    display: block;
    width: 4rem;
    height: 3.2rem;
    opacity: 0;
    z-index: 2;
    position: absolute; }
    header nav .menuhamburguesa input[type="checkbox"]:checked ~ ul {
      height: 22.4rem;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
    header nav .menuhamburguesa input:checked ~ span {
      opacity: 1;
      -webkit-transform: rotate(-45deg) translate(0.2rem, 0.1rem);
              transform: rotate(-45deg) translate(0.2rem, 0.1rem); }
    header nav .menuhamburguesa input:checked ~ span:nth-of-type(2) {
      opacity: 0;
      -webkit-transform: rotate(0deg) scale(0.2, 0.2);
              transform: rotate(0deg) scale(0.2, 0.2); }
    header nav .menuhamburguesa input:checked ~ span:nth-of-type(3) {
      -webkit-transform: rotate(45deg) translate(-0.1rem, 0.2rem);
              transform: rotate(45deg) translate(-0.1rem, 0.2rem); }
  header nav .menuhamburguesa span {
    display: block;
    width: 1.8rem;
    height: 0.2rem;
    margin-bottom: 0.3rem;
    position: relative;
    background: #060a24;
    z-index: 1;
    -webkit-transform-origin: 1.7rem 0.4rem;
            transform-origin: 1.7rem 0.4rem;
    border-radius: 0.1rem; }

/*DESKTOP*/
@media screen and (min-width: 1200px) {
  header {
    height: 8rem;
    padding: 2.6rem 10rem 2.6rem 10rem;
    position: fixed;
    top: 0;
    z-index: 2; }

  #logo {
    width: 3.6rem;
    height: 3.6rem; }

  header nav .menuhamburguesa ul {
    position: relative;
    top: 0;
    right: 0;
    background: unset;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
    header nav .menuhamburguesa ul li {
      margin-left: 4.8rem;
      display: inline-block; }
      header nav .menuhamburguesa ul li:hover {
        background: unset; }
      header nav .menuhamburguesa ul li a {
        padding: unset;
        line-height: unset;
        color: #060a24; }
        header nav .menuhamburguesa ul li a:hover {
          font-weight: 600;
          color: #00f3bb;
          text-decoration: line-through; }
        header nav .menuhamburguesa ul li a:active {
          font-weight: 400;
          color: #858793;
          text-decoration: line-through; }
  header nav .menuhamburguesa input {
    display: none; }
  header nav .menuhamburguesa span {
    display: none; } }
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.containerpresentacion {
  width: 28.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.9rem 1.6rem 2.4rem; }
  .containerpresentacion #segundaparte h1::after {
    content: ".";
    color: #060a24; }
  .containerpresentacion p {
    margin-top: 1.6rem;
    margin-bottom: 3.6rem;
    text-align: justify; }
    .containerpresentacion p::before {
      content: "Un podcast que explora el mundo de la programación. "; }

#primeraparte,
#segundaparte {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.boton {
  width: 28.8rem;
  height: 4.8rem;
  text-align: center;
  background: #00f3bb;
  color: #060a24;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 4.7rem; }
  @media (min-width: 1200px) {
    .boton {
      line-height: 5.5rem; } }
  .boton:hover {
    background-image: linear-gradient(225deg, #0000ec 0%, #00f3bb 100%);
    color: white;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

/*TABLETS*/
@media screen and (min-width: 768px) {
  .margenizquierdo {
    margin-left: 17rem;
    -ms-flex-item-align: start;
        align-self: flex-start; }

  .presentacion {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset; }

  .containerpresentacion {
    width: 42rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .containerpresentacion #segundaparte h1::after {
      content: ".";
      color: #0000ec; }

  #primeraparte {
    margin-right: 0.7rem; } }
/*DESKTOP*/
@media screen and (min-width: 1200px) {
  .presentacion {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .containerpresentacion {
    margin-top: 20rem;
    margin-bottom: 0.5rem;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    width: 74.2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .containerpresentacion h1 {
      font-size: 6.4rem; }
    .containerpresentacion p {
      margin-top: unset;
      margin-bottom: 5.6rem;
      width: 62.8rem; }
      .containerpresentacion p::before {
        content: "El portal de podcasts que explora el mundo de la programación y la tecnología. "; }

  #primeraparte,
  #segundaparte {
    margin-right: 1rem; }

  .boton {
    width: 22.6rem;
    height: 5.6rem;
    font-size: 1.8rem; } }
#episodios {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000ff), to(#0000a3));
  background-image: linear-gradient(180deg, #0000ff 0%, #0000a3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #episodios h1 {
    margin: 3.2rem 15rem 1rem 1.6rem;
    color: white; }

.contenedoriframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 89rem; }

svg {
  width: 100%;
  height: 10vw; }

.svginferior {
  margin-top: 11.15rem; }

iframe {
  width: 29.8rem;
  margin-top: 1.1rem;
  border-radius: 0.6rem; }

/*TABLETS*/
@media screen and (min-width: 768px) {
  #episodios h1 {
    margin: 3rem 0rem 1.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 17rem; }

  .iframeinferior {
    margin-top: 5rem; }

  .svginferior {
    margin-top: 6.9rem; } }
/*DESKTOP*/
@media screen and (min-width: 1200px) {
  #episodios {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%); }
    #episodios h1 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin: 4.94rem 94.2rem 2.6rem 20rem; }

  .contenedoriframe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: unset; }

  iframe {
    width: 58.4rem; }

  .iframeinferior,
  .iframesuperior {
    margin-left: 3.6rem;
    margin-right: 3.6rem; }

  .iframesuperior {
    margin-bottom: 3.6rem;
    margin-top: unset; }

  .iframeinferior {
    margin-top: 3.6rem; }

  .svginferior {
    margin-top: 9.6rem; } }
#dedondevenimos {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85.4rem; }

#phone {
  width: 36rem;
  height: 51.9rem;
  z-index: 1;
  margin-top: 4.8rem;
  -webkit-transform: translateY(-144px);
          transform: translateY(-144px); }

.container {
  -webkit-transform: translateY(-14rem);
          transform: translateY(-14rem);
  margin: 2.7rem 0rem 5.4rem 1.6rem; }

.titulouno {
  margin-right: 14.9rem; }

.titulodos {
  margin-right: 16.7rem; }

.parrafo {
  width: 28.8rem;
  height: 25.4rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4rem;
  margin-top: 0.8rem; }

/*TABLETS*/
@media screen and (min-width: 768px) {
  #dedondevenimos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 46rem; }

  #phone {
    -webkit-transform: translateY(-9.4rem);
            transform: translateY(-9.4rem);
    margin: 6.4rem 0rem; }

  .container {
    -webkit-transform: translateY(-165px);
            transform: translateY(-165px);
    margin-top: 25rem;
    margin-left: 6.24rem; }

  .titulouno,
  .titulodos {
    display: inline-block;
    margin-right: 0.5rem; } }
/*DESKTOP*/
@media screen and (min-width: 1200px) {
  #dedondevenimos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 55.2rem; }

  #phone {
    width: 45.76rem;
    height: 66rem;
    -webkit-transform: translateY(-12.8rem);
            transform: translateY(-12.8rem); }

  .container {
    -webkit-transform: translateY(-25rem);
            transform: translateY(-25rem); }

  .parrafo {
    width: 46.4rem;
    height: 20.4rem;
    font-size: 1.6rem;
    margin-top: 2.4rem; } }
#invitadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tituloinvitadas {
  width: 30.3rem;
  margin-left: 1.6rem;
  margin-bottom: 1.4rem; }

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .galeria .imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .galeria .imagen img {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 32rem;
      min-height: 24.3rem; }

/*TABLETS*/
@media screen and (min-width: 768px) {
  .tituloinvitadas {
    width: unset; } }
/*DESKTOP*/
@media screen and (min-width: 1200px) {
  .tituloinvitadas {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 3.6rem; }

  .galeria {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .galeria .imagen img {
      width: 44.9rem;
      min-height: 36.4rem; } }
#iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.8rem;
  margin-left: 1.6rem; }

.tituloiconos {
  width: 30.3rem;
  margin-left: 1.6rem; }

#contenedordeimagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 49.2rem; }

.contenedoricon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.9rem;
  max-width: 24.8rem; }
  .contenedoricon p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 1.3rem;
    text-align: center; }

.icon {
  width: 10.4rem;
  height: 10.4rem; }

/*TABLETS*/
@media screen and (min-width: 768px) {
  #iconos {
    margin-left: unset; }

  .tituloiconos {
    width: unset; }

  .contenedoricon p {
    width: 22rem; } }
/*DESKTOP*/
@media screen and (min-width: 1200px) {
  #iconos {
    margin-left: unset;
    margin-top: 6.4rem; }

  .tituloiconos {
    -ms-flex-item-align: start;
        align-self: flex-start; }

  #contenedordeimagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 6.9rem;
    max-width: unset; }

  .contenedoricon {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: unset;
    max-width: unset; }

  #contenedoricon1 {
    margin-top: unset; } }
#novedades {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000ff), to(#0000a3));
  background-image: linear-gradient(180deg, #0000ff 0%, #0000a3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.2rem; }
  #novedades h1 {
    text-align: center;
    color: white;
    width: 28.8rem;
    font-weight: 300;
    margin-top: 3.2rem;
    margin-bottom: 3.6rem; }
  #novedades .boton {
    margin-bottom: 6.7rem; }

#redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #redes p {
    margin-top: 2.4rem;
    margin-bottom: 1.6rem; }
  #redes .cajaredes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25.92rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.1rem; }
  #redes i {
    color: #060a24;
    font-size: 1.6rem; }
    #redes i:hover {
      font-size: 2.2rem;
      color: #0000ec;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }

/*TABLETS*/
@media screen and (min-width: 768px) {
  #novedades h1 {
    width: unset; } }
/*DESKTOP*/
@media screen and (min-width: 1200px) {
  #novedades {
    margin-top: 3.4rem;
    height: 51.8rem; }
    #novedades h1 {
      width: 69.2rem;
      margin-top: 6.2rem; }
    #novedades .boton {
      width: 34.5rem;
      font-size: 1.8rem; }

  #redes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #redes .cajaredes,
    #redes p {
      margin-top: 3.6rem;
      margin-bottom: 3.1rem; }
    #redes .cajaredes {
      margin-right: 10rem; }
    #redes p {
      margin-left: 10rem; }
    #redes i {
      font-size: 1.8rem; }
      #redes i:hover {
        font-size: 2.8rem; } }

/*# sourceMappingURL=style.css.map */